$light-grayish-cyan-background: hsl(180, 52%, 96%);
$light-grayish-cyan: hsl(180, 31%, 95%);
$light-grayish-cyan-hover: hsl(180, 10%, 80%);
$dark-grayish-cyan: hsl(180, 34%, 63%);
$very-dark-grayish-cyan: hsl(180, 15%, 64%);
$dark-cyan-background: hsl(180, 29%, 50%);
$dark-cyan-background-hover: hsl(180, 30%, 42%);
$white: hsl(0, 0%, 100%);
$black-shadow: rgba(0, 0, 0, 0.3);
$black-lighter: rgb(65, 58, 58);
$gray: rgb(139, 139, 139);
